.theater {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .seat {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    color: black;
  }
  
  .seat:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .seat.selected {
    background-color: #ffc107;
  }
  
  button {
    margin-top: 10px;
    background-color: rgb(136, 136, 187);
    color: white;
    border: none;
    padding: 8px;
    margin: 4px;
  }
  
  h3 {
    margin-top: 20px;
  }
  